* {
    font-family: Helvetica, sans-serif;
}
body {
    
    width: 700px;
    margin: auto;
}

h1 {
    font-family: Impact, fantasy;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-family: Impact, fantasy;
    font-size: 2.5rem;
    display: block;
    margin-top: 2ex;
    border-bottom:1px solid #CCC;
    padding-bottom:3px;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3ex;
    margin-bottom: 0.5ex;
}
h3::before {
    content: "•• ";
    margin-left: -1em;
}

p, ol, ul {
    margin: 0px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

body > p, body > ol, body > ul {
    max-width: 490px;
    text-align: justify;
}

body > p {
    text-indent: 2rem;
}

body > ol, body > ul {
    margin: 1ex 0;
    padding-left: 45px;
    width: 445px;
}

table
{
    margin-top: 2ex;
}
table th
{
    border-bottom:1px solid #CCC;
    padding-bottom:3px;
}

figcaption
{
    font-size: 0.7rem;
    color: grey;
}
figure
{
    margin: auto;
    margin-bottom: 2ex;
}
figure pre
{
    max-height: 24ex;
    margin-bottom: 2ex;
    overflow: auto;
}

pre code
{
    /*line-height: 1pt;*/
    font-size: 0.9rem;
}

blockquote {
    background: steelblue;
    border-radius: 5px;
    color: white;
    display: block;
    float: right;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 1ex;
    margin-left: 1em;
    width: 180px;
}

blockquote > p {
    text-align: left;
}